In [1]:
import pyforest

In [2]:
df = pd.read_csv('SearchTrendData_WithMissing.csv')

In [3]:
df.isnull().sum()

Week                       0
eLearning                 16
DataScience               12
MachineLearning            7
ArtificialIntelligence     6
DeepLearning              11
dtype: int64

In [4]:
df[df.isnull().any(axis = 1)]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
5,25/10/2015,38.0,10.0,NaN,11.0,4.0
10,29/11/2015,NaN,9.0,13.0,11.0,4.0
12,13/12/2015,30.0,9.0,14.0,11.0,NaN
20,7/02/2016,28.0,10.0,NaN,11.0,5.0
22,21/02/2016,NaN,10.0,14.0,12.0,5.0
24,6/03/2016,30.0,10.0,15.0,13.0,NaN
28,3/04/2016,29.0,10.0,15.0,NaN,7.0
29,10/04/2016,NaN,10.0,14.0,11.0,6.0
35,22/05/2016,27.0,NaN,16.0,12.0,6.0
45,31/07/2016,18.0,11.0,15.0,9.0,NaN
61,20/11/2016,NaN,12.0,21.0,14.0,9.0
63,4/12/2016,30.0,13.0,22.0,16.0,NaN
66,25/12/2016,17.0,NaN,15.0,12.0,7.0
67,1/01/2017,21.0,13.0,20.0,NaN,9.0
73,12/02/2017,NaN,15.0,25.0,15.0,11.0
81,9/04/2017,28.0,15.0,26.0,16.0,NaN
86,14/05/2017,26.0,16.0,NaN,18.0,12.0
91,18/06/2017,NaN,NaN,28.0,14.0,11.0
97,30/07/2017,16.0,17.0,29.0,23.0,NaN
100,20/08/2017,NaN,18.0,27.0,17.0,12.0
111,5/11/2017,33.0,NaN,37.0,NaN,14.0
119,31/12/2017,NaN,19.0,30.0,20.0,NaN
134,15/04/2018,32.0,NaN,36.0,24.0,15.0
135,22/04/2018,NaN,22.0,37.0,23.0,15.0
138,13/05/2018,32.0,22.0,37.0,23.0,NaN
149,29/07/2018,17.0,23.0,NaN,20.0,14.0
152,19/08/2018,NaN,24.0,37.0,18.0,14.0
160,14/10/2018,45.0,26.0,39.0,NaN,15.0
161,21/10/2018,42.0,26.0,40.0,24.0,NaN
166,25/11/2018,NaN,26.0,41.0,24.0,15.0
169,16/12/2018,30.0,NaN,37.0,23.0,13.0
178,17/02/2019,NaN,30.0,42.0,25.0,15.0
183,24/03/2019,38.0,30.0,NaN,24.0,16.0
184,31/03/2019,NaN,29.0,41.0,23.0,15.0
187,21/04/2019,36.0,NaN,39.0,23.0,15.0
201,28/07/2019,20.0,31.0,39.0,22.0,NaN
205,25/08/2019,NaN,37.0,43.0,22.0,14.0
206,1/09/2019,33.0,NaN,40.0,22.0,15.0
210,29/09/2019,55.0,34.0,43.0,NaN,15.0
223,29/12/2019,23.0,NaN,33.0,19.0,12.0
226,19/01/2020,NaN,36.0,NaN,24.0,14.0
228,2/02/2020,34.0,36.0,44.0,24.0,NaN
237,5/04/2020,100.0,NaN,38.0,21.0,13.0
244,24/05/2020,57.0,32.0,40.0,NaN,15.0
245,31/05/2020,65.0,33.0,NaN,21.0,14.0
246,7/06/2020,NaN,33.0,41.0,20.0,15.0
249,28/06/2020,59.0,NaN,38.0,20.0,14.0
259,6/09/2020,74.0,NaN,42.0,24.0,14.0

In [5]:
df['eLearning'].fillna(df['eLearning'].mean())

0      32.0
1      35.0
2      38.0
3      37.0
4      38.0
       ...
256    41.0
257    49.0
258    62.0
259    74.0
260    80.0
Name: eLearning, Length: 261, dtype: float64

In [6]:
df.fillna(method='pad')

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32.0,9.0,11.0,11.0,4.0
1,27/09/2015,35.0,10.0,11.0,11.0,4.0
2,4/10/2015,38.0,10.0,12.0,11.0,4.0
3,11/10/2015,37.0,9.0,12.0,10.0,4.0
4,18/10/2015,38.0,9.0,12.0,10.0,4.0
...,...,...,...,...,...,...
256,16/08/2020,41.0,36.0,40.0,22.0,14.0
257,23/08/2020,49.0,39.0,40.0,21.0,14.0
258,30/08/2020,62.0,37.0,40.0,21.0,14.0
259,6/09/2020,74.0,37.0,42.0,24.0,14.0
260,13/09/2020,80.0,39.0,39.0,21.0,14.0

In [7]:
df.fillna(method='backfill')

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32.0,9.0,11.0,11.0,4.0
1,27/09/2015,35.0,10.0,11.0,11.0,4.0
2,4/10/2015,38.0,10.0,12.0,11.0,4.0
3,11/10/2015,37.0,9.0,12.0,10.0,4.0
4,18/10/2015,38.0,9.0,12.0,10.0,4.0
...,...,...,...,...,...,...
256,16/08/2020,41.0,36.0,40.0,22.0,14.0
257,23/08/2020,49.0,39.0,40.0,21.0,14.0
258,30/08/2020,62.0,37.0,40.0,21.0,14.0
259,6/09/2020,74.0,39.0,42.0,24.0,14.0
260,13/09/2020,80.0,39.0,39.0,21.0,14.0